<!DOCTYPE html>
<html ng-app="myApp">

<head>
<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script><!-- Concerne les service -->
    
	<script src="js/controller.js"></script>
	
</head>

<body>
	<div ng-controller="myCtrl">
	
		First Name: <input type="text" ng-model="firstName"><br>
		Last Name: <input type="text" ng-model="lastName"><br>
		<br>
		Full Name: {{firstName + " " + lastName}}
	
	</div>

</body>
</html>