<!DOCTYPE html>

<html ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
	<title>Test de la lib FXA-JS-Client</title>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script><!-- Concerne les service -->
    
    <script src="lib/fxa-client.js"></script>
    
	<script src="js/controller.js"></script>
</head>
<body>
	<div ng-controller="myCtrl">
	
		First Name: <input type="text" ng-model="firstName"><br>
		Last Name: <input type="text" ng-model="lastName"><br>
		<br>
		Full Name: {{firstName + " " + lastName}}
	
	</div>
</body>
</html>