<!DOCTYPE html>

<html ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
	<title>Test de la lib FXA-JS-Client</title>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script><!-- Concerne les service -->
    
    <script src="lib/fxa-client.js"></script>
<!-- Load dependencies et otr -->
	<script src="lib/otr/dep/bigint.js"></script>
	<script src="lib/otr/dep/crypto.js"></script>
	<script src="lib/otr/dep/eventemitter.js"></script>

	<!-- <script src="lib/otr/otr.min.js"></script> -->
	<script src="lib/otr/otr.js"></script>
	
    <!-- <script src="lib/jsrsasign-5.0.2-all-min.js"></script>
    <script src="lib/openpgp.js"></script>
    <script src="lib/openpgp.worker.js"></script> -->
    
    
	<script src="js/controller.js"></script>
	<script src="js/connectTool.js"  ></script>
</head>
<body>
	<div ng-controller="myCtrl">
	
		First Name: <input type="text" ng-model="firstName"><br>
		Last Name: <input type="text" ng-model="lastName"><br>
		<br>
		Full Name: {{firstName + " " + lastName}}
		<br>
		authTimeStamp:{{authTimeStamp}}<br>
		uid:{{logUid}}<br>
	</div>
</body>
</html>